section {
    background-image: url(../finalProject/img/glamour-background-13614074.png);
    height: 1200px;
    position: relative;
}

h1 {
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(235, 69, 4);
    padding: 10px;
    margin: 0px;
    text-align: center;
    position: relative;
    top: 300px;
}

h2 {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    padding: 10px;
    margin: 0px;
    text-align: center;
    position: relative;
    top: 160px;
    
}
#h{
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 750px;
    left: 500px;
    position: relative;

}

#play{
    top: 650px;
    left: 250px;
    position: relative;
    margin: 100px;
}

#how2play{
    top: 600px;
    left: 50px;
    position: relative;
    color: rgb(161, 0, 0);
    font-size: 25px;
}
#thanks{
    top: 500px;
    left: 50px;
    position: relative;
    color: rgb(4, 37, 107);
    font-size: 75px;
}
.answer{
    top: 270px;
    left: 400px;
    position: relative;
}

.img{
    left: 300px;
    top: 170px;
    position: relative;
    
}

.img2{
    height: 50px;
    width: 200px;
    margin: 30px;
}
